@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}




/* header 样式 */
.header{
	width:100%;
	height:75px;
}
.logo_img{
	float: left;
}
.logo_img img{
	margin-top:13px;
}
.form_line{
	float:right;
	margin-top:30px;
}
.form-control{
	width:180px;
	height: 30px;
	text-indent: 6px;
}
.form-group{
	float:left;
}
.btn{
	width:44px;
	height: 34px;
    line-height: 20px;
    color: #fff;
    background-color: #f93;
    border-color: #f93;
    outline:none;
    border:0;
    float:left;
    margin-left:2px;
}
.btn:hover{
    color: #fff;
    border-color: #ffb366;
    background-color: #ffb366;
    cursor: pointer;
}
.regist_login{
	float: right;
	width:97px;
	height: 76px;
	margin-left:10px;
	margin-top:5px;
}
.regist_login a{
	font-size: 16px;
	color:#000;
}
.regist_login{
	text-align:center;
	line-height:76px;
}
.regist_login span{
	vertical-align: 3px;
}
.regist_login a{
	padding:-1px 5px;
}
.regist_login a:hover{
	color: #ff8000;
}
.btn .search{
	font-size: 24px;
}
/* nav 样式 */
.nav{
	height: 52px;
	background-color: #333;
}
.nav .nav_con{
	width:100%;
	height:52px;
	border-left:1px solid #222;
	border-right:1px solid #444;
}
.nav .nav_left{
	float: left;
}
.nav .nav_right{
	float: left;
}
.nav_left .nav_li{
	float: left;
	padding:15px 30px;
	text-align: center;
	line-height: 20px;
	position: relative;
}
.nav_left .nav_li a{
	color:#fff;
	font-size: 18px;
}
.nav_left .nav_li:hover .nav_a,.nav_right .nav_li:hover .nav_a{
	color: #ff8000;
}
.nav_left li.nav_on{
	background-color: #000;
}
.nav_left li.nav_on a{
	color:#ff8000;
}
.nav_right .nav_li{
	float: left;
	padding:15px 30px;
	line-height:21px;
	position: relative;
}
.nav_right .nav_li:hover,.nav_left .nav_li:hover{
	background-color: #000;
	cursor:pointer;
}
.nav_left .nav_li:hover .second_menu{
	display:block;
}
.nav_right .nav_li .nav_a{
	color:#fff;
	font-size:14px;
}
.nav_right .nav_li a:hover{
	color: #ff8000;
}
.second_menu{
	position: absolute;
	left: -1px;
	width:100%;
	left: 0;
	top: 52px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #EBEBEB;
    display: none;
}
.second_menu li{
	height:38px;
	width:100%;
	line-height:38px;
	cursor: pointer;
}
.second_menu li:hover{
	background-color: #fff;
}
.second_menu li:hover a{
	color:#000;
}
.nav_left .second_menu li a{
	font-size:14px;
	color:#000;
}
.menu_last{
	width:135px;
	z-index:1000;
}
.menus{
	font-weight:bold;
	font-size: 36px;
	color: #fff;
	line-height:52px;
	cursor: pointer;
	display: none;
	margin-left: 10px;
}

/*banner 样式*/
.index_banner{
	background-color: #EBEBEB;
	border-top:1px solid transparent;
	padding-bottom: 67px;
	margin-bottom:40px;
}
.index_banner_text{
	float: left;
}
.index_banner_text h1{
	color: #333;
	line-height: 1.1;
	margin-top: 56px;
	margin-bottom: 10px;
	font-weight:400;
	font-size: 38px;
}
.index_banner_text p{
	color: #999;
	font-size:14px;
	margin:0 0 10px;
}
.banner_text_download p{
	font-size: 20px;
	color: #0a6531;
	margin:0 0 10px;
}
.banner_text_download p a{
	font-size: 14px;
	color: #ff8000;
	text-decoration: underline;
}
.banner_text_download p .xiazai{
	display: block;
	width: 350px;
	height: 45px;
	background-color: #13a751;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 5px;
}
.banner_text_download p .xiazai:hover{
    background-color: #108541;
    outline: 0;
}
.banner_text_download span{
	display: inline-block;
	font-size: 18px;
	margin-top: 32px;
}
.index_banner_text .banner_btn{
	margin-top: 9px;
}
.index_banner_text input{
	padding: 6px 12px;
}
.index_banner_text .select_a{
	line-height: 20px;
	margin-top: 8px;
}
.index_banner_text .select_a a{
	color: #0084bb;
	text-decoration: underline;
	font-size: 14px;
}
.index_banner_mask{
	float: right;
	width: 503px;
	height: 318px;
	background:url(../img/dianshi.png);
	margin-top: 50px;
}
.index_banner_img{
	position: relative;
}
.index_banner_img img{
	position: absolute;
	top: 5px;
	left: 3px;
}
/*product 样式*/
.index_product{
	padding:20px 20px 5px;
	background-color: #fafafa;
	border:1px solid #ddd;
}
.product{
	font-weight: 400;
	font-size: 20px;
}
.product_item{
	margin:15px 0;
}
.product_item_info{
	margin-left: 106px;
}
.product_item a img{
	float: left;
	width: 110px;
	height: 110px;
	margin-left:-10px;
}
.product_item_info a h3{
	color: #000;
	font-size: 18px;
	font-weight: 400;
}
.product_item_info a h3:hover{
	text-decoration: underline;
}
.product_item_info .prodcut_desc{
	color:#999;
	margin-bottom:8px;
	font-size: 14px;
	height:60px;
	overflow: hidden;
}
.product_item_info .product_a{
	color: #ff8000;
	font-size: 14px;
}
.product_item_info .product_a:hover{
	color: #ffb366;
}
.product_image .product_weixin:after{
	width: 0;
	height: 0;
	content: '';
	display: block;
	clear: both;
}
.product_image .product_weixin{
	border:1px solid #ddd;
}
.product_image .weixin{
	width:100px;
	height: 100px;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
}
.product_image .content_text{
	float: left;
	margin-left: 20px;
	padding-top:20px;
}
.product_image .content_text .content_weixin{
	display:block;
}
.content_text .content_qqgroup{
	display: inline-block;
	padding-top: 12px;
}
.content_text .content_qqgroup img{
	vertical-align: middle;
}
.content_text .content_weibo{
	display:block;
	padding-top: 10px;
}
.content_weibo .weibo_right{
	display:inline-block;
	width: 62px;
	height: 18px;
	background:url(../img/weibo.png) no-repeat -63px 0;
}
.content_weibo .weibo_right .FB{
	display:inline-block;
	width: 16px;
	height: 14px;
	margin:3px 0 0 3px;
	background:url(../img/weibo.png) no-repeat;
	background-position: -190px 0;
}
.content_weibo .weibo_right .attention{
	color: #fff;
	display: inline-block;
	vertical-align: 2px;
}
.product_image .product_yuehe{
	display: block;
	width: 100%;
}
.product_yuehe img{
	margin-top: 5px;
	width:100%;
	height: 219px;
}
/*hangpick 样式*/
.handpick{
	margin:40px 0 20px;
	border-bottom:1px solid #eee;
	padding-bottom: 9px;
}
.page_header h2{
	font-size: 20px;
	font-weight: 400;
	position: relative;
}
.page_header small .fa{
	font-size: 12px;
	color: red;
}
.page_header small a.click{
	color: red;
	font-size: 12px;
}
.page_header small a.click:hover{
	text-decoration: underline;
}
.page_header .pull_right{
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 12px;
	padding-top: 5px;
	color: #ff8000;
}
.page_header .pull_right:hover{
	color: #ffb366;
}
.list_image{
	margin-top: 22px;
}
.list_image li:hover .thumb .block_over{
	opacity:1;
	transition:opacity 0.3s ease-in-out 0s;
}
.list_image .thumb{
	position: relative;
	padding:4px;
	margin-bottom: 4px;
	border:1px solid #ddd;
	background-color: #fafafa;
	line-height: 1.5;
}
.list_image .thumb img{
	width:128px;
	height: 128px;
}
.list_image .thumb .app_black_elem{
	display: block;
	padding:6px;
	text-align: center;
}
.list_image .thumb .app_black_elem .caption{
	padding: 9px;
	color: #333;
}
.list_image .thumb .app_black_elem .caption h5{
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight: 400;
}
.handpick .btn{
	display:inline-block;
	float: right;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	width:110px;
	height: 34px;
	line-height: 2.3;
	margin-right: 14px;
}
/*hangpick 遮罩样式*/
.list_image .thumb .block_over{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fafafa;
	padding:6px;
	cursor: pointer;
	opacity:0;
	transition:opacity .3s ease-in-out 0s;
}
.list_image .thumb .block_over .block_title{
	display:block;
	text-overflow:ellipsis;
	color: #ffb366;
	white-space: normal;
	overflow: hidden;
}
.list_image .thumb .block_over .block_promo{
	color: #000;
	height:80px;
	line-height: 20px;
}
.list_image .thumb .block_over .block_rating{
	color: #ffb366;
	display:block;
	line-height: 36px;
	margin-top:36px;
	position: absolute;
	left: 12px;
	top:110px;
	right: 0;
	margin:auto;
}
.list_image .thumb .block_over .block_rating i{
	font-size: 12px;
	display:inline-block;
	text-rendering:auto;
}
.list_image .thumb .block_over .block_detail{
	display:block;
	width:55px;
	height: 35px;
	background-color: #2ecc71;
	border-color:#29b765;
	text-align: center;
	line-height: 35px;
	color: #fff;
	margin:0 auto;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;

}
/*market 样式*/
.panel_head{
	padding:20px 0;
	margin: 20px 0;
}
.panel_head .panel_title{
	font-size: 18px;
	font-weight: 700;
	float: left;
}
.panel_head .pull_right{
	float: right;
	color: #999;
	font-size: 14px;
}
.panel_head .pull_right:hover{
	text-decoration:underline;
}
.panel_body{
	border:1px solid #ddd;
	padding:30px 15px;
}
.panel_body .artical_left{
	width:46%;
	float: left;
}
.panel_body .artical_right{
	margin-left: 51%;
	width: 366px;
	height: 408px;
	/*background: red;*/
}





.panel_body .artical_left .artical_list{
	margin-bottom:-5px;
}
.panel_body .artical_list .item_model_1{
	margin-bottom:10px;
}
.panel_body .artical_list .item_model_1 h3{
	font-size: 18px;
	font-weight: 700;
	color:#333;
	margin-bottom: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel_body .artical_list .item_model_1 .item_content img{
	float: left;
}
.panel_body .artical_list .item_model_1 h3:hover{
	color:#ff8000;
}
.panel_body .artical_list .item_model_1 .item_text{
	margin-left: 175px;
}
.panel_body .artical_list .item_model_1 .item_text p{
	color:#666;
	height: 80px;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
	position: relative;
}
.panel_body .artical_list .item_model_1 .item_text p a{
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	color:#666;
	padding:6px 12px;
	padding-left: 20px;
	background-color: #fff;
}
.panel_body .artical_list .item_model_1 .item_text p a:hover{
	text-decoration: underline;
}
.panel_body .artical_list .item_model_1:after,.panel_body:after{
	content:'';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
.panel_body .artical_list .item_model_3{
	position: relative;
	margin-bottom:4px;
}
.panel_body .artical_list .item_model_3 span{
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -1.5px;
    width: 3px;
    height: 3px;
    background-color: #999;
}
.panel_body .artical_list .item_model_3 a{
    display: block;
    margin-left: 20px;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel_body .item_2{
	display: inline-block;
	margin-bottom: 17px;
	margin-right: 15px;
}
.panel_body .item_2 a{
	display:block;
	position: relative;
}
.panel_body .item_2 span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding:0 3px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: normal;
	color: #fff;
}
.panel_body .item_2 .item2_image{
	width:100%;
	height: 119px;
}
.pan_default{
	margin-top: -5px;
}
.pan_default h2{
	padding: 20px 0;
	margin-top: 20px;
	float: left;
}
.pan_default a{
	display: block;
	float: right;
	font-size: 14px;
	line-height: 104px;
	color: #999;
}
.pan_default a:hover{
	text-decoration: underline;
}
.remenbox{
	border: 1px solid #ddd;
	margin-top: -19px;
	padding: 9px 15px;
}
.tuwen{
	font-size: 14px;
}
.tuwen>ul>li{
	border-bottom: 1px dashed #999;
	margin-top: 10px;
}
.tuwen>ul>li>a>span:first-child{
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.tuwen>ul>li>a>span:first-child{
	background: #e6e6e6;
}
.tuwen>ul>li:nth-child(1)>a>span:first-child{
	background: red;
}
.tuwen>ul>li:nth-child(2)>a>span:first-child{
	background: #f60;
}
.tuwen>ul>li:nth-child(3)>a>span:first-child{
	background: #f93;
}
.tuwen>ul>li>a>span:nth-child(2){
	float: left;
	margin: 0 0 10px 10px;
	width: 70%;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666;
}
.tuwen>ul>li>a>span:nth-child(2):hover{
	color: #ff8000;
}
.tuwen>ul>li>a>span:nth-child(3){
	float: right;
	width: auto;
	height: auto;
	font-size: 14px;
	color: red;
	background: 0 0;
}
.xxk{
	margin-bottom: 10px;
	padding-left: 30px;
	display: none;
}
.xxkzuihou{
	display: block;
}
.xxk .item1{
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	overflow: hidden;
}
.xxk .item1 img{
	width: 100%;
	max-width: 240px;
	vertical-align: middle;
}
.dianshijieshao{
	margin-left: 110px;
}
.dianshijieshao p{
	font-size: 12px;
	height: 40px;
	line-height: 20px;
	color: #999;
	overflow: hidden;
	margin: 0 0 10px;
	float: right;
}
.dianshijieshao a{
	padding: 3px 10px;
	border-radius: 5px;
	color: #fff;
	background-color: #00a8f6;
	border-color: #00a8f6;
	float: right;
}
.zhinan{
	margin-bottom: 40px;
}
.zhinan h2{
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 400;
}
.zhinan .row div{
	float: left;

}
.zhinan .row{
	margin-left: -15px;
	margin-right: -15px;
}
.nav-tabs{
	border-bottom: 1px solid #ddd
}
.nav-tabs ul li{
	float: left;
	margin-bottom: -1px;
	margin-right: 20px;
	padding: 5px 0;
	color: #333;
	line-height: 23px;
	cursor: pointer;
}
.nav-tabs ul li:nth-child(1){
	color: #00a8f6;
	border-bottom: 2px solid #00a8f6;
	box-sizing: border-box;
}
.tuwen{
	padding: 19px 0 0 5px;
}
.chengbox{
	margin: 15px 0;
	height: 250px;
	border: 1px solid #ddd;
	position: relative;

}
.chengbox h3{
	margin: 0 10px;
	padding: 0 5px;
	line-height: 47px;
	font-size: 16px;
	color: #000;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85%;
	cursor: pointer;

}
.chengbox h3:hover{
	text-decoration: underline;
}
.chengbox h3 img{
	margin-top: 6px;

	width: 39px;
	height: 34px;

}
.zhinan img{
	width: 100%;
	max-width: 100%;
	float: right;
}
.panel_body .item_2{
	display: block;
	width: 165px;
	height: 119px;
	float: left;
}
.panel_body .item_2 a img{
	display: block;
	width: 165px;
	height: 119px;
}
.dibu{
	padding: 30px 0;
	background-color: #f0f0f0;
}
.ewm{
	float: left;
	margin-right: 60px;
	padding: 0 80px;
	text-align: center;
	border-right: 1px solid #ddd;
}
.ewm img{
	margin-bottom: 20px;
	width: 110px;
	height: 110px;
}
.ewm p{
	margin: 0 0 10px;
}
.wulie{
	float: left;
	width: 155px;
}
.wulie h2{
	margin-top: 0;
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}
.wulie ul li{
	line-height: 20px;
	cursor: pointer;
}
.wulie ul li:hover{
	text-decoration: underline;
}
footer{
	padding: 15px 0;
	font-size: 12px;
	color: #666;
	background-color: #303031;
}
.footer-friend-links{
	text-align: left;
}
.footer-friend-links h2{
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}
.footer-friend-links p a{
	font-size: 12px;
	color: #666;
	margin-right: 6px;
}
.footer-friend-links p a:hover{
	text-decoration: underline;
}
.footer-about-links{
	text-align: right;
}
.footer-about-links p a{
	color: #666;
	margin-right: 3px;
}
.footer-about-links p a:hover{
	text-decoration: underline;
}
.footer-about-links span{
	margin-right: 3px;
	line-height: 12px;
}
.footer-about-links p:nth-of-type(2){
	line-height: 42px;
}


/*大屏*/
@media screen and (max-width:1200px){
	.nav_left .nav_li,.nav_right .nav_li{
		padding:15px 20px;
	}
	.menu_last{
		width:114px;
	}
	.nav_left .second_menu li{
		height:38px;
	}
	.product_item_info .luntan,.product_item_info .luntan_line{
		display: none;
	}
	.product_item_info .product_a{
		font-size: 14px;
	}
	.list_image .thumb img{
		width:100px;
		height: 100px;
	}
	.panel_body .item_2 a{
		width: 140px;
		height: 101px;
	}
	.panel_body .item_2 .item2_image{
		width:100%;
		height: 101px;
	}
	.panel_body .item_2 a img{
		display: block;
		width: 140px;
		height: 101px;
	}
	.panel_body .item_2 {
		display: inline-block;
		margin-bottom: 17px;
		float: left;
	}
	.wulie{
		float: left;
		width: 115px;
	}
	.panel_body .item_2 a img{
		width: 140px;
		height: 101px;
	}
	.panel_body .item_2 {

		margin-left: -20px;
	}
	.panel_body .item_2{
		float: left;
	}
}




/*中屏*/
@media screen and (max-width:992px){
	.container{
		width: 718px;
		margin:0 auto;
	}
	.nav_left .nav_li,.nav_right .nav_li{
		padding:15px 8px;
	}
	.menu_last{
		width:89px;
	}
	.index_banner_image{
		display: none;
	}
	.index_banner_text{
		float: none;
		text-align: center;
	}
	.banner_text_download p .xiazai{
		margin:0 auto;
		margin-top:10px;
	}
	.banner_btn input{
		width:220px;
	}
	.index_banner_text .select_a{
		margin-top: 10px;
	}
	.index_banner{
		padding-bottom:0;
	}
	.product_image{
		display:none;
	}
	.product_item_info .luntan,.product_item_info .luntan_line{
		display: none;
	}
	.list_image .thumb img{
		width:128px;
		height: 128px;
	}
	.pan_default{
		display: none
	}
	.remenbox{
		display: none;
	}
	.artical_right .list_uns li a .item2_image img {
		width: 140px;
		height: 101px;
	}
	.artical_right .list_uns{
		display: flex;
		flex-wrap: wrap;
	}
	.chengbox{
		margin: 15px 0;
		height: 315px;
		border: 1px solid #ddd;
		position: relative;

	}
	.wulie{
		float: left;
		width: 80px;
	}
	.artical_right .list_uns {
		float: left;
		margin-left: 41px;
	}



}




/*小屏*/
@media screen and (max-width:768px){
	.container{
		width:100%;
	}
	.logo_img{
		margin:0 auto;
		float: none;
		text-align: center;
	}
	.regist_login{
		float: right;
	}
	.form_line{
		float: left;
		margin-left:0;
	}
	.nav{
		margin-top: 72px;
	}
	.nav_con{
		display: none;
	}
	.menus{
		display: block;
	}
	.index_banner_text{
		text-align: center;
	}
	.banner_text_download p .xiazai{
		width:100%;
		background-color: #108541;
	}
	.banner_text_download:after{
		width: 0;
		height: 0;
		display: block;
		clear: both;
		content: '';
	}
	.banner_text_download span{
		float: left;
	}
	.clear{
		clear: both;
	}
	.index_banner_text .banner_btn{
		float: left;
	}
	.index_banner_text .select_a a{
		float: left;
	}
	.banner_btn input{
		width:220px;
		float: left;
		margin:5px auto;
		margin-right: 4px;
	}
	.product_item_info .product_hidden{
		display: none;
	}
	.product_item_info{
		position: relative;
	}
	.product_item_info .product_a{
		font-size: 14px;
		position: absolute;
		top: 90px;
	}
	.list_image .thumb{
		width: 130px;
		margin:0 auto 20px;
	}
	.list_image .thumb img{
		width: 100px;
		height: 100px;
	}
	.handpick .btn{
		margin-top: 1px;
	}
	.page_header{
		margin-top: -20px;
	}
	.handpick .btn{
		margin-top: -20px;
	}
	.chengbox{
		width: 700px;
		margin: 0 auto;
		height: 585px;
		border: 1px solid #ddd;
		position: relative;
	}
	.wulie{
		float: left;
		width: 90px;
	}
	.artical_right{
		display: none;
	}
	.panel_body{
		width: 690px;
	}
	.item_text p{
		display: none;
	}
	.item_content img{
		margin-left: 250px;
	}
	.footer-about-links{
		margin-left: 230px;
		text-align: center;
	}
	/*.footer-about-links img{*/
		/*margin-left: 100px;*/
		/*text-align: center;*/
	/*}*/
}
